<p>loteria works!</p>
<app-generar-loteria #numero1></app-generar-loteria>
<app-generar-loteria #numero2></app-generar-loteria>
{{numero1.digito}} {{numero2.digito}}
<button (click)="numero1.generarNumeroAleatorio(); numero2.generarNumeroAleatorio()">Dame un numero</button>
<p *ngIf="numero1.digito==numero2.digito; else elseblock">Premio</p>
<ng-template #elseblock><p>Sigue jugando</p></ng-template>
<app-generar-loteria entrada = "1323"></app-generar-loteria>
<app-generar-loteria [objetoEntrada] = objeto></app-generar-loteria>