<div class="jumbotron jumbotron-fluid font-custom">
  <div class="container texto-centro">
      <h1 class="display-3">Loteria</h1>
      <hr class="my-2">
      <h5>Número 1 = {{numero1.digito}}     Número 2 = {{numero2.digito}}</h5>
      <h5 class="verde" *ngIf="numero1.digito==numero2.digito; else elseblock">Premio</h5>
        <ng-template  #elseblock><h5 class="rojo">Sigue jugando</h5></ng-template>
      <p class="lead">
        <button class="btn btn-primary" (click)="numero1.generarNumeroAleatorio(); numero2.generarNumeroAleatorio()">Dame un numero</button>
      </p>
  </div>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-sm">
      <div class="card text-dark bg-secondary mb-3" style="max-width: 18rem; height:18rem;">
        <div class="card-header">Generar un número aleatorio</div>
        <div class="card-body">
          <h5 class="card-title">Numero 1</h5>
          <app-generar-loteria #numero1></app-generar-loteria>
        </div> 
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-dark bg-secondary mb-3" style="max-width: 18rem;height:18rem;">
        <div class="card-header">Generar un número aleatorio</div>
        <div class="card-body">
          <h5 class="card-title">Numero 2</h5>
          <app-generar-loteria #numero2></app-generar-loteria>
        </div> 
      </div>
    </div>
    <div class="col">
      <div class="card text-dark bg-secondary mb-3" style="max-width: 18rem;height:18rem;">
        <div class="card-header">Generar loteria con una entrada</div>
        <div class="card-body">
          <h5 class="card-title">Entrada 1323 </h5>
          <app-generar-loteria entrada = "1323"></app-generar-loteria>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-dark bg-secondary mb-3" style="max-width: 18rem;height:18rem;">
        <div class="card-header">Generar loteria con un objeto</div>
        <div class="card-body">
          <h5 class="card-title">Objeto </h5>
          <app-generar-loteria [objetoEntrada] = objeto></app-generar-loteria>
        </div>
      </div>
    </div>
  </div>
</div>