@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
.font-custom{
  font-family: 'Syncopate', sans-serif;
}
.texto-centro {
  text-align: center;
}
.verde {
  color: green;
}
.rojo {
  color: red;
}
