<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Componenete about
        </div>
        <div class="card-body">
          <img class="card-img-top" src="https://cdn.betterttv.net/emote/5b157890aca8015213e555d1/3x" alt="Card image cap">
          <h4 class="texto-centro my-3">WIP</h4>         
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
  </div>
</div>
