<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Componenete about
        </div>
        <div class="card-body">
          <img class="card-img-top" src="https://cdn.betterttv.net/emote/5d38aaa592fc550c2d5996b8/3x" alt="Card image cap">
          <h4 class="texto-centro">WIP</h4>         
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
  </div>
</div>
