<div class="container d-flex justify-content-center align-items-center font-custom">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Componenete about
        </div>
        <div class="card-body">
          <img class="card-img-top" src="https://cdn.betterttv.net/emote/5c0e1a3c6c146e7be4ff5c0c/3x" alt="Card image cap">
          <h4 class="texto-centro my-3">WIP</h4> 
          <p>*Recordatorio para buscar el componente hola</p>
          <p>*Ruta dinamica con dos parametros</p>
          <p>*ruta/nombre/apellido</p>        
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
  </div>
</div>
