<div class="container-fluid">
    <div class="row" *ngIf='errorRespuesta && mensaje!=null'>
        <div class="col">
            <div class="alert alert-danger">
                <p>{{mensaje}}</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2>Login con FormBuilder</h2>
    <form [formGroup]="formLogin" (submit)="login()">
        <input class="form-control" type="text" formControlName="email" placeholder="email"><br>
        <input class="form-control" type="text" formControlName="password" placeholder="password"><br>
        <button class="btn btn-primary" type="submit" [disabled]="!formLogin.valid" >Registrar</button>
    </form>
</div>
