<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Jaime Sánchez-V Lucas</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive routerLink="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive routerLink="/loteria">Loteria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive routerLink="/calculadora">Calculadora</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive routerLink="/tuberias">Tuberia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive routerLink="/estructuras">Estructuras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive routerLink="/formulario-clase">Formulario Clase</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive routerLink="/crud-local">Crud Local</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive routerLink="/howarts">Howarts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive routerLink="/crud">Crud</a>
            </li>
        </ul>
        <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive routerLink="/registro">Registro</a>
            </li>
        </ul>
    </div>
</nav>
