<nav class="navbar navbar-expand-sm navbar-dark bg-dark font-custom">
    <a class="navbar-brand" href="#">JaimeSVLucas</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive routerLink="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive routerLink="/loteria">Loteria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive routerLink="/calculadora"><i class="fas fa-calculator"></i> Calculadora</a>
            </li>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mas componentes
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" routerLinkActive routerLink="/tuberias">Tuberia</a>
                    <a class="dropdown-item" routerLinkActive routerLink="/estructuras">Estructuras</a>
                    <a class="dropdown-item" routerLinkActive routerLink="/formulario-clase">Formulario Clase</a>
                    <a class="dropdown-item" routerLinkActive routerLink="/crud-local">Crud Local</a>
                    <a class="dropdown-item" routerLinkActive routerLink="/howarts"><i class="fas fa-magic"></i>Howarts</a>
                    <a class="dropdown-item" routerLinkActive routerLink="/crud"><i class="fas fa-clipboard-list"></i> Crud</a>
                    <a class="dropdown-item" routerLinkActive routerLink="/lista-perfil"><i class="fa fa-users"></i> Lista Perfiles</a>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav mt-2 mt-lg-0">
            <ng-template [ngIf]='!fnLogged()' [ngIfElse]='salir'>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive routerLink="/registro">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive routerLink="/login">Login</a>
                </li>
            </ng-template>
            <ng-template #salir>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive routerLink="/perfil"><i class="far fa-user-circle"></i> Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)='doLogout()' routerLink="."><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
            </ng-template>
        </ul>
    </div>
</nav>
