<div class="conatiner">
    <div class="row" *ngIf='respuestaCreada && mensaje!=null'>
        <div class="col">
          <div class="alert alert-success">
            <p>{{mensaje}}</p>
        </div>
        </div>
      </div>
      <div class="row" *ngIf='errorRespuesta && mensaje!=null'>
        <div class="col">
          <div class="alert alert-danger">
            <p>{{mensaje}}</p>
        </div>
        </div>
      </div>
    <div class="row">
        <div class="col-3">
            <h4>Tu perfil</h4>
            <label for="">Nombre: </label><p class="form-control">{{this.perfil.nombre}} </p>
            <label for="">Apelldios: </label><p class="form-control">  {{this.perfil.apellidos}} </p>
            <label for="">Email: </label><p class="form-control"> {{this.perfil.email}} </p>
            <div class="my-1">
                <img src='{{perfil.imgSrc}}' width='200px'>
            </div>
            <button class="btn btn-primary" (click)='editar=!editar'>Editar</button>
            <button class="btn btn-primary" (click)='borrar=!borrar'>Borrar</button>
        </div>
        <div class="col-3">
            <h4>Subir imagen</h4>
            <label for="">Imagen: </label>
            <form [formGroup]='formImagen' (ngSubmit)='subirImagen()'>
                <input class="form-control" type="file" formControlName='imagen' (change)='cambiaImagen($event)'>
                <button class="btn btn-primary" type='submit'>Subir imagen de perfil</button>
            </form>
            <br><br>
            <input class="form-control" type="file" (change)='tengoFoto($event)'>
            <button class="btn btn-primary" type='button' (click)='subirFoto()'>Subir imagen por parámetros</button>
        </div>
    </div>
    <div class="row" *ngIf='editar'>
        <div class="col-6">
            <form [formGroup]="formPerfil" (submit)="submit()">
                <input class="form-control" type="text" formControlName="nombre" [(ngModel)]="this.perfil.nombre" placeholder="nombre"><br>
                <input class="form-control" type="text" formControlName="apellidos" [(ngModel)]="this.perfil.apellidos" placeholder="apellido"><br>
                <input class="form-control" type="text" formControlName="email" [(ngModel)]="this.perfil.email" placeholder="email"><br>
                <input class="form-control" type="number" formControlName="telefono"[(ngModel)]="this.perfil.telefono" placeholder="telefono"><br>
                <button class="btn btn-primary" type="submit" [disabled]="!formPerfil.valid" >Editar</button>
                <button class="btn btn-danger" (click)='editar=!editar'>Cancelar</button>
            </form>
        </div>
    </div>
    <div class="row" *ngIf='borrar'>
        <div class="col-6">
            <h5>Quieres borrar el usuario {{this.perfil.email}} </h5>
            <p>Introduce tu email para borrar</p>
            <input type="text" class="form-control" [(ngModel)]='inputBorrar'>
            <button [disabled]='inputBorrar!=this.perfil.email' class="btn btn-primary" (click)='borrarUsuario()'>Borrar</button>
            <button class="btn btn-danger" (click)='borrar=!borrar;inputBorrar="";'>Cancelar</button>
        </div>
    </div>
</div>

