<div class="row">
    <div class="col">
        <h5>Notas</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>titulo</th>
                    <th>contenido</th>
                </tr>
            </thead>
            <tbody>
                <tr (click)="notaSelecc(nota)"  *ngFor = "let nota of notas;let indice = index">
                    <td> {{nota.id}} </td>
                    <td> {{nota.titulo}} </td>
                    <td> {{nota.contenido}} </td>
                    <td (click)="borrarNota(indice, nota)" >x</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col">
        <h5>Insertar nota</h5>
        <input class="form-control" type="text" [(ngModel)]="notaNueva.titulo" placeholder="titulo">
        <input class="form-control" type="text" [(ngModel)]="notaNueva.contenido" placeholder="contenido">
        <button class="btn btn-dark" (click)="insertarNota()" >Inertar nota</button>
    </div>
    <div class="col">
        <h5>Nota seleccionada</h5>
        <input class="form-control" type="text" [(ngModel)]="notaSeleccionada.titulo" placeholder="titulo">
        <input class="form-control" type="text" [(ngModel)]="notaSeleccionada.contenido" placeholder="contenido">
        <button class="btn btn-dark" (click)="editarNota(notaSeleccionada)" >Editar nota</button>
    </div>
</div>


